@charset "UTF-8";

@media (max-width: 1366px) {

    /* Aqui comça a primeira parte */

    * {
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    outline-width: 0px;
    }

    @font-face {
        font-family: bosil;
        src: url(/fonts/Fonts/bosil\ unique\ regular.ttf);
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px ;
        margin-top: -10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

   

    div.apresentacao, div.projetos,div.work,div.education,div.teachers,div.img_empresas {
        height: auto;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid black;
        border-radius: 10px;
        border-top: 1px;
                
    }

    div#img {      
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        
    }

    img {
        width: 150px;
        height: 150px;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    div#nome , h1 {
        font-family: bosil;
        text-align: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        
    }

    div#menu {
        display: flex;      
        width: auto;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        justify-content:space-around;
            
    }

    a#menu:hover {
        font-size: 25px;
    }

    a#projetos:hover {
        font-size: 25px;
        color: blue;
    }

    a#perfil_social:hover {
        font-size: 25px;
        margin-bottom: 10px;
        
    }

    a#perfil_social {
        color: blue;
        margin-left: 10px;
        font-size: 18px;
    }


    li#menu, a#menu {
        font-weight:bold;
        font-style: italic;
        color: blue;
        display: block;
        list-style: none;
        display: contents;
        font-size: 23px;
    }

    ul#menu {
        font-weight: 900;
    }

    div#banner {
        margin-top: 20px;
        height: auto;
        
    }

}

ul#projetos,li#projetos, a#projetos {
    text-align: center;
    font-size: 20px;
    margin-top: -15px;
    list-style: none;
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    
}

hr {
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    color: black;
    
}

ul#education {

    font-size: 20px;
    margin-left: 10px;
    list-style: none;
}

img#empresas {
    width: 80px;
    height: 80px;

}

#termos {
    margin-left: 10px;
}



